.header {
    background: var(--color-accent);
    border-bottom: 4px solid black;
}


.marquesina { 
    /* si sobrepasa el límite, se esconde lo sobrante */
    overflow: hidden;
    background: black;
    color: var(--color-highlights);
    font-family: var(--font-mono);
    padding: 6px 0;
}

.nav {
    /* flexible box, horizontal */
    display: flex;
    gap: 8px;
    /* si no hay espacio horizontal, se "rompe" a una nueva línea */
    flex-wrap: wrap;
    padding: 10px;
    background: var(--color-panel);
}

.navBoton {
    font-family: var(--font-body);
    font-weight: bold;
}